<h1>Your Order</h1>
<p>
Order Id:
<%= @order.id %>
</p>
<% @order.carted_products.each do |item| %>
<div class = "well">
<p>
Quantity
<%= item.quantity  %>
</p>
<p>
Product
<%= item.product.game_name%>
<br>
<img src="<%= item.product.images.first.url %>" alt="...">
</p>
</div>
<% end %>
<p>
Subtotal:
<%= @order.subtotal %>
</p>
<p>
Tax:
<%= @order.tax %>
</p>
<p>
Total:
<%= @order.total %>
</p>
<p>
Order Email:
<%= @order.user.email %>
</p>


Ordered at: 
<%= @order.created_at.strftime("%A, %b %d") %>
