<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    <% @game.images.each do |image| %>
      <img src=<%= image.url %> alt="...">
      <% end %>
      <div class="caption">
        <h3><%= @game.game_name %></h3>
         <p>Suppier: <%= @game.supplier.name %></p>
        <p>Player Minimum: <%= @game.player_min %></p>
        <p>Player Max: <%= @game.player_max %></p>
        <p>Time of Play: <%= @game.time %></p>
        <p>Age Limit: <%= @game.age_limit %></p>

        <p>Price: <%= @game.dollar_price %></p>
        <p>Tax: <%= @game.tax %></p>
        <div class = "<%= @game.price_color %>">
          
       <p>Total: <%= @game.total %></p>
        </div>
        <p><%=  @game.sale_message %></p>
  
<button><%= link_to "Delete Dis", "/products/#{@game.id}", method: :delete %></button>
<button><%= link_to "Edit Dis", "/products/#{@game.id}/edit" %></button>
<button><%= link_to "Add Image", "/images/new" %></button>
      


      </div>
    </div>
  </div>
</div>
