<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src=<%= @game.image %> alt="...">
      <div class="caption">
        <h3><%= @game.game_name %></h3>
        <p>Player Minimum: <%= @game.player_min %></p>
        <p>Player Max: <%= @game.player_max %></p>
        <p>Time of Play: <%= @game.time %></p>
        <p>Age Limit: <%= @game.age_limit %></p>
  
<button><%= link_to "Delete Dis", "/products/#{@game.id}", method: :delete %></button>
<button><%= link_to "Edit Dis", "/products/#{@game.id}/edit" %></button>
      


      </div>
    </div>
  </div>
</div>
