<!DOCTYPE html>
<html>
  <head>
    <title>MiniCapstone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/products">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/products/new"> Add Game <span class="sr-only">(current)</span></a></li>
        <li><a href="/products/random">Click for a Handful of nothing</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User Settings <span class="caret"></span></a>
          <ul class="dropdown-menu">
          <% if current_user %>
            <li><%= link_to "Log Out", "/logout" %></li>
            <% else %>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
            <% end %>
            <li role="separator" class="divider"></li>
          </ul>
        </li>
      </ul>
   
        <%= form_tag "/products", method: :get do %>
          <input type="text" name="search" placeholder="Search">
        <input type="submit" value="search">
        <% end %>
    
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/cart">Checkout(<%= @count %>)</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/products?sort=game_name">Sort By Title</a></li>
            <li><a href="/products?sort=time">Sort By Average Game Duration</a></li>
            <li><a href="/products?sort=age_limit">Sort By Age Limit</a></li>
            <li><a href="/products?sort=price&&order=asc">Sort By Price Lowest To Highest</a></li>
            <li><a href="/products?sort=price&&order=desc">Sort By Price Highest To Lowest</a></li>
            <% Category.all.each do |category| %>
            <li><a href="/products?category=<%= category.name %>"><%= category.name %> Games</a></li>
            <% end %>
            <li><a href="/products?where=price < 13">Cheap games</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  <% flash.each do |name, message| %>
  <div class="alert alert-<%= name %> alert-dismissible" role="alert">
<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= message %>
  <% end %>
  </div>
  <div class = "container">
    <%= yield %>
    </div>
  </body>
</html>
